@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* NAVBAR */
.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  background: #0D1B2A;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* LOGO */
.logo {
  font-size: 22px;
  font-weight: 700;
}

/* NAV LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00bcd4;
}

/* RIGHT BUTTONS */
.nav-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-buttons a {
  padding: 8px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
}

/* LOGIN */
.login {
  color: white;
  border: 1px solid white;
}

.login:hover {
  background: white;
  color: #0d0b45;
}

/* SIGNUP */
.signup {
  background: black;
  color: white;
}

.signup:hover {
  background: white;
  color: black;
}

/* HAMBURGER BUTTON */
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/* HERO SECTION */
.hero {
  width: 100%;
  height: 100vh;

  background-image: url('./Image logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding-top: 70px;
}

.cta-btn {
  margin-top: 350px;
  padding: 14px 28px;
  background: #00bcd4;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.cta-btn:hover {
  background: #222;
}

.cta-btn a {
  text-decoration: none;
  color: white;
}

/* ---------------------------- */
/*         RESPONSIVE           */
/* ---------------------------- */

@media (max-width: 900px) {
  .nav-links,
  .nav-buttons {
    display: none;
  }

  .hamburger {
    display: block;
  }

  /* MOBILE MENU */
  .nav-links.active {
    display: flex;
    flex-direction: column;
    background: #0D1B2A;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    gap: 20px;
    text-align: center;
  }

  .nav-buttons {
    position: absolute;
    top: calc(70px + 220px);
    left: 0;
    width: 100%;
    justify-content: center;
    display: none;
  }

  .nav-links.active + .nav-buttons {
    display: flex;
  }

  .cta-btn {
    margin-top: 250px;
  }
}
